<!DOCTYPE html>
<html>
<head>
	<title>{{ app.name }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ app.baseUrl~'/assets/css/fontawesome-free-5.2.0-web/css/all.min.css' }}">
	<link rel="stylesheet" type="text/css" href="{{ app.baseUrl~'/assets/css/common.css' }}">

	{# styles #}
	{% if css %}
		{% for style in css %}
			<link rel="stylesheet" type="text/css" href="{{ "#{style}" }}">
		{% endfor %}
	{% endif %}
</head>
<body>
	
	{# header #}
	{% if session.acct.type == 'd' or pagetype == 'd' %}
		{% include 'dr/header.twig' %}
	{% else %}
		{% include 'acct/header.twig' %}
	{% endif %}

	{# page content #}
	{% block content %}
	{% endblock %}

	{# footer #}
	<div id="footer">
	    <div class="contact-us">
	        <p>Contact us thru</p>
	        <div>
	            <a href="#" class="icon"><i class="fab fa-facebook-f"></i></a>
	            <a href="#" class="icon"><i class="fas fa-mobile-alt"></i></a>
	            <a href="#" class="icon"><i class="fas fa-at"></i></a>
	        </div>
	    </div>
	    <p class="copyright">All Rights Reserved © {{ "now"|date("Y") }}</p>
	</div>

	{# loading overlay #}
	<div id="loading-message">
		<div class="message-container">
			<p class="message">In progress. Please wait...</p>
			<div class="loading"></div>
		</div>
	</div>

	{# toast message #}
	<div id="toast"></div>

	{# scripts #}
	<script type="text/javascript" src="{{ app.baseUrl~'/assets/js/jquery-3.3.1.min.js' }}"></script>
	<script type="text/javascript" src="{{ app.baseUrl~'/assets/js/common.js' }}"></script>
	<script type="text/javascript">
		config = {
		    baseUrl: "{{ app.baseUrl }}",
			sessionExpiry: JSON.parse("{{ app.sessionExpiry }}"),
			ajax: {
				type: 'POST',
		        dataType: 'JSON',
		        beforeSend: function() {
					$('#loading-message').show();
		        },
		        complete: function() {
					$('#loading-message').hide();
		        }
			}
		};

		{# session expiry #}
		{% if session.acct %}
			var idleTime = 0;

			$(document).ready(function(){
			    // increment the idle time counter every minute
			    setInterval(function(){
			    	idleTime = idleTime + 1;

				    if (idleTime > config.sessionExpiry) { // 20 minutes
				        alert('Your session has expired');
				        window.location.href = config.baseUrl + '/logout';
				    }
			    }, 60000);

			    // zero the idle timer on the following events
			    $(this).keydown(function(){
			    	idleTime = 0;
			    }).scroll(function(){
			    	idleTime = 0;
			    }).click(function(){
			    	idleTime = 0;
			    });
			});
		{% endif %}
	</script>
	
	{% if js %}
		{% for script in js %}
			<script type="text/javascript" src="{{ "#{script}" }}"></script>
		{% endfor %}
	{% endif %}
</body>
</html>