{% if appts %}
	{% for data in appts %}
		<div class="list-item">
			<div>
				{% set apptNo = data['reference_no'] %}
				<a href="{{ app.baseUrl ~ '/d/view/' ~ apptNo }}">{{ apptNo }}</a>
			</div>
			<div>{{ data['patient'] }}</div>
			<div>{{ data['clinic'] }}</div>
			<div>{{ data['schedule'] }}</div>
		</div>
	{% endfor %}
{% endif %}